*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #EEE;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1000px;
    background-color: #E4F9F5;
    margin: auto;
    padding: 20px;

}
header{


}

.profileimage{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
}
.name{
    float: left;
    padding: 30px;

}
h1,h2,h3,h4,h5,h5{
    color: #11999e;
}
.contact{
    float: right;;
    padding: 30px;
}

.contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.contact a:hover{
    text-decoration: underline;
    color: tomato;
}

.divClear{
    clear: both;
}
hr{
    border: solid black 2px;
    width: 100%;
    margin: 25px auto;
    border-bottom: none;
}
/*---------------
Personal Section
-------------*/

#personal{

}

.content{

}
.leftside{
    width: 30%;
    float: left;
}
.rightside{
    width: 70%;
    float: left;
}
.common-hr{
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}
/*---------------
education Section
-------------*/
.leftsideedu{
    width: 45%;
    float: left;
}
.rightsideedu{
    width: 45%;
    float: right;

}
.rightsideedu a{
    text-decoration: none;
    color: teal;
    font-weight: normal;

}

.rightsideedu a:hover{
    text-decoration: underline;
    color: tomato;
}

.leftsideedu a{
    text-decoration: none;
    color: teal;
    font-weight: normal;
}
.leftsideedu a:hover{
    text-decoration: underline;
    color: tomato;
}
.rightsideedu1{
    width: 45%;
    float: right;
}
.rightsideedu1 a:hover{
    text-decoration: underline;
    color: tomato
    ;
}
.rightsideedu1 a{
    text-decoration: none;
    color: teal;
    font-weight: normal;
}

/*---------------
skills Section
-------------*/
.leftsideedu ul li span{
    color: teal;
} 
.rightsideedu ul li span{
    color: teal;
}
.rightside p span{
    color: teal;
}


.bottom{
    background-color: black;
    text-align: center;
    padding: 10px;

}
.bottom a{
    color: white;
    text-decoration: none;
    margin: 20px;

}
.bottom a:hover{
    text-decoration: underline;
    color: yellow;

}
.bottom p{
    color: white;
    margin-top: 15px;
}